<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Drupal</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<form method="POST" action="/">
    Input URLs(seperated by line break):<br>
    (upto 50 urls allowed)<br>
    <textarea type="text" name="urls" rows="5" cols="50" required></textarea><br>
    <input type="submit">
</form>
{% if urls %}
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">URL</th>
            <th scope="col">Drupal Version</th>
            <th scope="col">Status Code</th>
        </tr>
        </thead>
        {% for url,version,st in urls %}
            <tr>
                <th scope="row">{{ url }}</th>
                <td>{{ version }}</td>
                <td>{{ st }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    {% if urls %}
        <button type="button" class="btn btn-primary" onclick="window.location='/return-files' ">Download CSV</button>
    {% endif %}
{% endif %}
</body>
</html>